.services {
  height: 100vh;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  &-title {
    display: flex;
    align-items: end;
    h2 {
      font-size: 180px;
      line-height: 150px;
      text-transform: uppercase;
      -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #c1a360;
      z-index: 9999;
      margin-top: 75px;
      text-align: right;
      white-space: nowrap;
      white-space: pre-wrap;
      margin-left: auto;
    }
    span {
      font-size: 180px;
      line-height: 150px;
      text-transform: uppercase;
      -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #c1a360;
      z-index: 9999;
    }
  }
  &-desc {
    text-align: right;
    color: white;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  &-list {
    display: flex;
    color: white;
    padding-bottom: 20px;
    border-bottom: 2px solid #c1a360;
    margin-bottom: 35px;
    align-items: center;
    div {
      width: 30px;
      margin-right: 35px;
    }
    p {
      text-transform: uppercase;
    }
    i {
      margin-left: auto;
    }
  }
  @media only screen and (max-width: $mobile-screen) {
    padding: 0 25px;
    height: auto;
    &-title {
      flex-direction: column;
      h2 {
        font-size: 70px;
        line-height: 60px;
      }
      span {
        display: none;
      }
    }
  }
}
